.about {
   &__wrapper {
     padding-bottom: 200px;
   }
   &__item-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 45px;
      row-gap: 90px;
      @media (max-width: 376px) {grid-template-columns: 1fr 1fr; gap: 30px;}
   }
   &__item {
      &-title {
         font-size: 32px;
         font-weight: 700;
         line-height: 54px;
         margin-bottom: 20px; padding-bottom: 10px;
         position: relative;
         display: inline-block;
         &:after {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            height: 1px; 
            width: 100%;
            background: white;
         }
      }
      &-content {
         font-size: 16px;
         line-height: 27px;
      }
   }
}