.hero {
   &__wrapper {
      padding: 100px 0;
      display: flex;
      align-items: center;
      @media (max-width: 680px) {
         flex-direction: column;
      }
   }
   &__content {
      width: 50%;
      @media (max-width: 680px) {
         order: 2;
         text-align: center;
         width: 100%;
      }
   }
   canvas {
      width: 50%;
   }
   h1 {
      font-weight: 700;
      font-size: 78px;
      line-height: 90.48px;
      max-width: 336px;
      @media (max-width: 680px) {
         min-width: 100%;
      }
      @media (max-width: 450px) {
         font-size: 58px;
         line-height: 60px;
      }
   }
   &__subtitle {
      font-size: 30px;
      line-height: 41.1px;
      margin: 30px 0;
   }
   &__tegs {
      max-width: 411px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px; row-gap: 20px;
      @media (max-width: 680px) {
         max-width: 100%;
         justify-content: center;
      }
      &-item {
         font-size: 21px;
         padding: 2px 16px;
         background: #1378EF;
         color: white;
         border-radius: 64px;
      }
   }
}