.note {
   &__wrapper {
      padding-bottom: 200px;
   }
   &__content {
      max-width: 668px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      .block-subtitle {margin-top: 20px;}

      .circle {
         width: 260px;
         height: 260px;
         background: #1378EF;
         border-radius: 50%;
         margin: 0 auto; margin-top: -170px;
      }
   }
}