* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 550px) {
  .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 450px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__logo img {
  width: 100%;
}
@media (max-width: 650px) {
  .header__nav {
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 550px) {
  .header__nav {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1F1F1F;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__nav.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.header__nav .nav-item {
  margin: 0 25px;
  font-size: 16px;
  position: relative;
}
.header__nav .nav-item:first-child {
  margin-left: 0;
}
.header__nav .nav-item:last-child {
  margin-right: 0;
}
.header__nav .nav-item:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav .nav-item:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media (max-width: 450px) {
  .header__nav .nav-item {
    margin: 10px 0;
    font-size: 25px;
  }
}
.header__burger {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background: white;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__burger span.first {
  position: absolute;
  top: 0;
}
.header__burger span.last {
  position: absolute;
  bottom: 0;
}
.header__burger span.center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 450px) {
  .header__burger {
    display: block;
  }
}
.header__burger.active {
  z-index: 10;
}
.header__burger.active span.center {
  display: none;
}
.header__burger.active span.first {
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
  margin-top: 10px;
}
.header__burger.active span.last {
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
  margin-bottom: 22px;
}

.hero__wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 680px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__content {
  width: 50%;
}
@media (max-width: 680px) {
  .hero__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    width: 100%;
  }
}
.hero canvas {
  width: 50%;
}
.hero h1 {
  font-weight: 700;
  font-size: 78px;
  line-height: 90.48px;
  max-width: 336px;
}
@media (max-width: 680px) {
  .hero h1 {
    min-width: 100%;
  }
}
@media (max-width: 450px) {
  .hero h1 {
    font-size: 58px;
    line-height: 60px;
  }
}
.hero__subtitle {
  font-size: 30px;
  line-height: 41.1px;
  margin: 30px 0;
}
.hero__tegs {
  max-width: 411px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 680px) {
  .hero__tegs {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__tegs-item {
  font-size: 21px;
  padding: 2px 16px;
  background: #1378EF;
  color: white;
  border-radius: 64px;
}

.about__wrapper {
  padding-bottom: 200px;
}
.about__item-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
  row-gap: 90px;
}
@media (max-width: 376px) {
  .about__item-wrapper {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
.about__item-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}
.about__item-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: white;
}
.about__item-content {
  font-size: 16px;
  line-height: 27px;
}

.projects__wrapper {
  padding-bottom: 200px;
}
.projects__tabs {
  margin-top: 70px;
}
.projects__tabs-title {
  margin-bottom: 30px;
}
.projects__tabs-title button {
  font-size: 22px;
  line-height: 33px;
  margin: 0 50px;
  background: none;
  color: rgba(255, 255, 255, 0.59);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects__tabs-title button.active {
  color: white;
}
.projects__tabs-title button:first-child {
  margin: 0;
}
.projects__tabs-title button:last-child {
  margin: 0;
}
.projects__tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projects__tabs-item.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.projects__tabs-item h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 55px;
}
.projects__acardeon {
  width: 67%;
}
.projects__acardeon-item .text {
  display: none;
  font-size: 16px;
  line-height: 27px;
}
.projects__acardeon-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__acardeon-preview .arrow, .projects__acardeon-preview h3 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects__acardeon-preview.active h3 {
  color: #1378EF;
}
.projects__acardeon-preview.active .arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.note__wrapper {
  padding-bottom: 200px;
}
.note__content {
  max-width: 668px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.note__content .block-subtitle {
  margin-top: 20px;
}
.note__content .circle {
  width: 260px;
  height: 260px;
  background: #1378EF;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -170px;
}

.reviews__wrapper {
  padding-bottom: 200px;
}
.reviews__slider {
  width: 67%;
  margin: 0;
  margin-top: 90px;
}
@media (max-width: 750px) {
  .reviews__slider {
    width: 100%;
  }
}
.reviews__slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 580px) {
  .reviews__slider-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.reviews__slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}
@media (max-width: 580px) {
  .reviews__slider-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 50px;
    margin-left: 0;
  }
}
.reviews__slider-slide {
  background: rgba(24, 24, 24, 0.59);
  text-align: center;
  padding: 35px 25px;
}
.reviews__slider-slide .slide-title {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  margin: 10px 0;
}
.reviews__slider-slide .slide-text {
  font-size: 16px;
  text-align: left;
}
.reviews__slider-button-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 20px;
}
.reviews__slider-button-prev img {
  margin-right: 50px;
}
.reviews__slider-button-prev:hover img {
  margin-right: 20px;
}
@media (max-width: 580px) {
  .reviews__slider-button-prev {
    margin-top: 0;
  }
  .reviews__slider-button-prev img {
    margin-right: 0;
  }
  .reviews__slider-button-prev:hover img {
    margin-right: 0;
  }
}
.reviews__slider-button-next img {
  margin-right: 50px;
}
.reviews__slider-button-next:hover img {
  margin-right: 20px;
}
@media (max-width: 580px) {
  .reviews__slider-button-next {
    margin-top: 0;
    margin-left: 30px;
  }
  .reviews__slider-button-next img {
    margin-right: 0;
  }
  .reviews__slider-button-next:hover img {
    margin-right: 0;
  }
}
.reviews__slider-button-next, .reviews__slider-button-prev {
  position: static;
  width: 70px;
  height: 70px;
  background: #1378EF;
  border-radius: 50%;
}
.reviews__slider-button-next:after, .reviews__slider-button-prev:after {
  display: none;
}
.reviews__slider-button-next img, .reviews__slider-button-prev img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  pointer-events: all;
  opacity: 1;
}

.contacts {
  background: #121212;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 450px) {
  .contacts__wrapper {
    display: block;
  }
}
.contacts__bg {
  margin-left: -350px;
}
.contacts__bg img {
  width: 100%;
}
@media (max-width: 750px) {
  .contacts__bg {
    display: none;
  }
}
@media (max-width: 450px) {
  .contacts__bg {
    display: block;
    margin-left: 0;
  }
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 750px) {
  .contacts__form {
    padding: 100px 50px;
  }
}
@media (max-width: 450px) {
  .contacts__form {
    padding: 20px 0;
  }
}
.contacts__form .title {
  font-size: 32px;
  line-height: 55px;
  font-weight: 700;
}
.contacts__form .text {
  font-size: 16px;
  line-height: 27px;
  margin: 30px 0;
}
.contacts__form input, .contacts__form textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
  background: none;
  font-size: 16px;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.contacts__form input:first-child, .contacts__form textarea:first-child {
  margin-top: 0;
}
.contacts__form input:last-child, .contacts__form textarea:last-child {
  margin-bottom: 0;
}
.contacts__form input::-webkit-input-placeholder, .contacts__form textarea::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
.contacts__form input::-moz-placeholder, .contacts__form textarea::-moz-placeholder {
  color: white;
  opacity: 1;
}
.contacts__form input:-ms-input-placeholder, .contacts__form textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.contacts__form input::-ms-input-placeholder, .contacts__form textarea::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.contacts__form input::placeholder, .contacts__form textarea::placeholder {
  color: white;
  opacity: 1;
}
.contacts__form button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  float: right;
  margin-top: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1F1F1F;
  color: white;
}

a {
  color: white;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}
@media (max-width: 1030px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 30px;
  }
}

.line {
  border: 1px solid #e5e5e518;
  border-top: none;
  border-bottom: none;
  position: relative;
}
.line:before, .line:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: #e5e5e518;
}
.line:before {
  left: 33%;
}
.line:after {
  right: 33%;
}
@media (max-width: 450px) {
  .line {
    position: static;
    border: none;
  }
  .line:before, .line:after {
    display: none;
  }
}

.block-subtitle {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 15px;
}
@media (max-width: 450px) {
  .block-subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.block-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 55px;
}
@media (max-width: 450px) {
  .block-title {
    font-size: 35px;
  }
}

.cursor {
  width: 50px;
  height: 50px;
  background: #1378EF;
  position: fixed;
  border-radius: 50%;
  -webkit-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
  -webkit-transition: 0.5s -webkit-transform 0.2s;
  transition: 0.5s -webkit-transform 0.2s;
  transition: 0.5s transform 0.2s;
  transition: 0.5s transform 0.2s, 0.5s -webkit-transform 0.2s;
}
@media (max-width: 500px) {
  .cursor {
    display: none;
  }
}
.cursor.hover {
  -webkit-transform: translate(-25px, -25px) scale(1.2);
          transform: translate(-25px, -25px) scale(1.2);
}
.cursor.big {
  -webkit-transform: translate(-25px, -25px) scale(1.8);
          transform: translate(-25px, -25px) scale(1.8);
}
.cursor.title {
  -webkit-transform: translate(-25px, -25px) scale(1.5);
          transform: translate(-25px, -25px) scale(1.5);
}