@media (max-width: 1300px) {
.heder {
  background: ;
}
.row-new-div {
  width: 90%;
}
}
@media (max-width: 1150px) { 
.heder {
  background: ;
}
.row-new-div {
  width: 95%;
}

}
@media (max-width: 1100px) { 
.container {
  width: 90%;
}
}
@media (max-width: 1000px) {
.container {
  width: 95%;
}
.img-row-sail {
  width: 180px;
  height: 180px;
}
}
@media (max-width: 900px) {                     /*2 cols*/ 
.container {
  width: 99%;
}
.box-2 {
  display: block;
  margin: 0 auto;
}
.row-new-div {
    margin-top: 20px;
}
.box {
  width: 100%;
}
.modal {
  top: 750px;
}
}
@media (max-width: 820px) {
/*map*/
.google-map {
  width: 80%;
}
}
@media (max-width: 700px) {
.row-new-img {
  width: 120px;
  height: 120px;
}
.row-sail {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.row-sail-div {
  width: 50%;
}
.sail-mai-text {
  text-align: center;
  margin-left: -25px;
}
}
@media (max-width: 600px) {
.new-row-text {
  font-size: 14px;
}
.main-row-new-text {
  font-size: 14px;
}
}
@media (max-width: 550px) {                     /*1 cols*/
.row-new {
  display: block;
  width: 100%;
}
.modal {
  top: 1200px;
}
}
@media (max-width: 500px) {                     /*1 cols*/
.row-footer {
  display: block;
  text-align: center;
}
}
@media (max-width: 400px) {                     /*1 cols*/
.row-sail-div {
  width: 70%;
}
}
/*burger*/
@media (max-width: 434px) {                  
.nav {
  position: absolute;
  width: 100%;
  background: #F4F4F4;
  top: -100%;
  z-index: 4;
  transition: 0.3s;
}
.nav a {
    display: block;
}
.btn-nav {
  display: block;
} 
.nav-active {
  top: 0;
}
.hedline-nav {
  font-size: 18px;
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 400;
}
.body-hiden {
  overflow: hidden;
}
}
