body, html {
  margin: 0;
  padding: 0;
  min-width:100%;
  min-height:100%;
  font-family: Arial; 
}
.heder {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #F4F4F4;
}
.heder-page-about {
  padding-bottom: 70px;
}
.container {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.nav {
  text-align: center;
}
.nav a {
  color: #475161;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
}
.nav a:hover {
  color: #BFDC36; 
  text-decoration: underline;
}
.nav-active {
  display: block;
}
.btn-nav {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  cursor: pointer;
  display: none;
}
.element-btn-nav {
  width: 40px;
  height: 5px;
  background: #475161;
  display: block;
  margin-top: 10px;
}
.element-btn-nav-first {
  width: 40px;
  height: 5px;
  background: #475161;
  display: block;
  margin-top: 0px;
}
.hedline-nav {
  font-size: 0px;
}
.hero {
  text-align: center;
  margin-top: 80px;
}
.hero h3 {
  padding: 0;
  margin: 0;
}
.box {
  display: table;
  width: 80%;
  margin: 0 auto;
}
.row-new {
  width: 20%;
  display: table-cell;
}
.row-new-img {
  width: 150px;
  height: 150px;
  background: blue;
  margin: 0 auto;
}
.row-new-img-pichr {
  width: 150px;
  height: 150px;
}
.row-new-div {
  width: 80%;
  background: white;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: 0.2s;
}
.main-row-new-text, .new-row-text {
  text-align: center;
  display: block;
}
.row-new-div:hover {
  box-shadow: 5px 3px 3px 1px #d9d9d9; 
}
.box-2 {
  width: 50%;
  display: inline-block;
}
.sail-mai-text {
  margin-left: 25px;
}
/*end heder*/
.sail {
  width: 100%;
  margin-bottom: 20px;
}
.box-sail {
  width: 100%;
  display: table;
}
.row-sail {
  display: table-cell;
  width: 33%;
}
.row-sail-div {
  width: 90%;
  margin: 0 auto;
  background: #F4F4F4;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  transition: 0.2s;
}
.img-row-sail {
  width: 250px;
  height: 250px;
  background: blue;
  margin: 0 auto;
}
.main-row-sail-text, .row-sail-text {
  text-align: center;
  display: block;
}
.row-sail-btn {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  padding: 5px 30px;
  /*stule btn*/
  color: #475161;
  background: white;
  border: 0.5px solid #475161;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.row-sail-btn:hover {
  background: #BFDC36;
  color: white;
  border: none;
}
.a-btn-sail {
  text-decoration: none;
  color: #475161;
}
/*end sail*/
.footer {
  width: 100%;
  background: #F4F4F4;
  padding-top: 20px;
  padding-bottom: 0px;
}
.footer-page-about {
  margin-bottom: 0px;
}
.footer-box {
  display: table;
  margin: 0 auto;
  padding-bottom: 20px;
}
.row-footer {
  display: table-cell;
  padding: 10px;
}
.row-footer h4 {
  margin: 10px 0px;
}
.phone_email_footer {
  color: #475161;
  text-decoration: none; 
  transition: 0.1s;
}
.phone_email_footer:hover {
  color: #BFDC36; 
  text-decoration: underline;
}
.icon-footer {
  padding: 4px;
  background: #475161;
  color: white;
  border-radius: 50px;
  transition: 0.1s;
}
.icon-footer:hover {
  /*color: #475161;*/
  background: #BFDC36;
}
/*form*/
.form-main {
  width: 100%;
  padding: 20px 0px;
}
.form{
  width: 100%;
}
.input-form {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 10px;
  padding: 3px;
  border: 1px solid #475161;
  border-radius: 5px;
  color: #475161;
}
.submit-form {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  padding: 3px 7px;
  border: 1px solid #475161;
  border-radius: 5px;
  color: #475161;
  background: none;
  cursor: pointer;
}
.submit-form:hover {
  background: #BFDC36;
  border: none;
}
/*map*/
.map {
  width: 100%;
  padding-bottom: 30px;
}
.div-map {
  width: 100%;
  
}
.google-map {
  margin: 0 auto;
  display: block;
}
/*modal*/
.modal {
  width: 100%;
  height: 100vh;;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  background: #F4F4F4;
  padding: 30px;
}
.bask-modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}
.main-text-modal {
  /*text-align: center;*/
}
.modal-input {
  display: block;
  margin-bottom: 10px;
  border: 0.5px solid #475161;
  border-radius: 5px;
  padding: 3px;
}
.modal-btn-submit {
  padding: 3px;
  color: #475161;
  background: white;
  border: 0.5px solid #475161;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.modal-btn-submit:hover {
  background: #BFDC36;
  color: white;
  border: none;
}
/*preloader*/
.preloader-div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: white;
  /*overflow: hidden;*/
}
.preloader {
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top: 6px solid #475161;
  border-left: 6px solid #475161;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: preloader 1s infinite linear;
}
@keyframes preloader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 13px;
  margin-right: 5px;
}
::-webkit-scrollbar-track {
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #475161;
  border-radius: 50px;
  border: 2px solid #F4F4F4; 
}

.nik-neme {
  font-size: 10px;
  margin-left: 92%;
}
/*about-internet*/
.about-internet {
  position: fixed;
  top: 30%;
  left: 0;
  /*display: flex;
  flex-direction: column;*/
}
.about-internet-a {
  display: block;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 15px;
  color: white;
  font-weight: 900;
  transition: 0.3s;
}
.about-internet-a.instagram {
  background: #e8d709;
}
.about-internet-a.vk {
  background: #48b7d8;
}
.about-internet-a.youtube {
  background: #f75d5d;
}
.about-internet-a.instagram:hover {
  background: none;
  color: #e8d709;
}
.about-internet-a.vk:hover {
  background: none;
  color: #48b7d8;
}
.about-internet-a.youtube:hover {
  background: none;
  color: #f75d5d;
}
